$bg-primary : #2E1E1F !important;
$bg-secundary : #AB2417 !important;
$bg-white: #FFFFFF !important;

.imgLogo {
    width: 75px;
}
.imgPerfil {
    width: 50px;
}

nav {
    font-family: 'Be Vietnam', sans-serif;
}

.text-navbar li a {
    font-size: 1rem;
    color: $bg-white;
}
.text-navbar li a:hover {
    text-decoration: none;
    color: $bg-secundary;
}
.text-navbar a:hover {
  text-decoration: none;
  color: $bg-secundary;
}
.text-navbar button:hover{
  text-decoration: none;
  color: $bg-secundary;
}
.btn-primary {
  background-color: $bg-primary;
  border-color: $bg-primary;
}

.btn-primary:focus, .btn-primary:hover{
  background-color: $bg-secundary;
}

.bg-primary {
    background-color:  $bg-primary;
}

.text-title {
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-footer {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $bg-white;
}
.text-general {
  font-family: 'Lato', sans-serif ;
  font-size: 1rem;
}
.btn-secundary{
  background-color: $bg-secundary;
  border-color: $bg-primary;
  color: $bg-white;
}
.btn-secundary:focus, .btn-secundary:hover{
  background-color: $bg-primary;
  border-color: $bg-secundary;
  color: $bg-white;
}

.estiloEnlaces{
  color: $bg-secundary;
}

.estiloEnlaces:hover{
  text-decoration: none;
  color: #212529 !important;
}

.btnAnular {
  color: $bg-secundary;
}
.btnAnular:hover{
  color: #212529 !important;
}

/* social media buttons */
.icon-button {
  background-color: $bg-primary;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}

.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.instagram span {
  background-color: #517fa4;
}

.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-instagram {
  color: #517fa4;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram {
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
}

.hover-1 img {
  position: relative;
  left: -5%;
  transition: all 0.3s;
}

.hover-1:hover img {
  left: 0;
}

.imgCarta {
  width: 25rem;
  height: 16.625rem;
}