$bg-primary : #2E1E1F !important;
$bg-secundary : #AB2417 !important;
$bg-white: #FFFFFF !important;
$color-footer-cuerpo : #D4D4D4 !important;
$color-footer-title : #d6d6d6 !important;

.imgLogo {
  width: 75px;
}
.imgPerfil {
  width: 50px;
}

.hoverEffect {
  width: 400px;
  border-radius: 50px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease; /* back to normal */
}
.hoverEffect:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .5s ease; /* zoom in */
  cursor: pointer;
}

.hover-1 img {
  position: relative;
  left: -5%;
  transition: all 0.3s;
}

.hover-1:hover img {
  left: 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
.carousel-caption {
    top:30%;
    bottom:auto;
}

.imgCarta {
  width: 25rem;
  height: 16.625rem;
}

.imgPlato {
  width: 37.5rem;
  height: auto;
}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}


input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

nav {
  font-family: 'Be Vietnam', sans-serif;
}

.text-navbar li a {
  font-size: 1rem;
  color: $bg-white;
}
.text-navbar li a:hover {
  text-decoration: none;
  color: $bg-secundary;
}
.text-navbar a:hover {
  text-decoration: none;
  color: $bg-secundary;
}
.text-navbar button:hover{
  text-decoration: none;
  color: $bg-secundary;
}

.text-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem !important;
  color: $bg-secundary ;
}

.text-footer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.2rem ;
  color: $bg-white ;
}
.text-footer-cuerpo {
  font-family: 'Lato', sans-serif ;
  font-size: 1rem;
  color: $bg-white ;
}

.text-secondary{
  font-family: 'Lato', sans-serif !important;
  font-size: 1.25rem !important;
  color: black !important;
}

.text-RS{
  color: $bg-secundary;
}

.text-about {
  font-size: 3rem;
  font-family: 'Lato', sans-serif ;
  color: #2E1E1F;
  font-weight: bold;
}

.btn-primary {
  background-color: $bg-primary;
  border-color: $bg-primary;
}

.btn-primary:focus, .btn-primary:hover{
  background-color: $bg-secundary;
}

.bg-primary {
  background-color:  $bg-primary;
}

.btn-secundary{
  background-color: $bg-secundary;
  border-color: $bg-primary;
  color: $bg-white;
}
.btn-secundary:focus, .btn-secundary:hover{
  background-color: $bg-primary;
  border-color: $bg-secundary;
  color: $bg-white;
}

.btnAnular {
  color: $bg-secundary;
}

.btnAnular:hover{
  color: #212529 !important;
}

.estiloEnlaces{
  color: $bg-secundary;
}

.estiloEnlaces:hover{
  text-decoration: none;
  color: #212529 !important;
}
.enlacesSinEstilo {
  text-decoration: none;
}

.enlacesSinEstilo:hover {
  text-decoration: none;
}

.redesSociales{
  font-size: 3rem;
  font-weight: bold;
  color: $bg-secundary;
}

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}
.error-container > span {
  display: inline-block;
  position: relative;
}
.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
          linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
          linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
          linear-gradient(to right, #d89ca4, #e27b7e);
}
.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}
.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
          linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
          linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
          linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}
.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
  linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}
.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
          linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
          linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}
.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #de7e85;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}



/* social media buttons */
.icon-button {
  background-color: $bg-primary;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}

.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.instagram span {
  background-color: #517fa4;
}

.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-instagram {
  color: #517fa4;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram {
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
}

@keyframes blink-fancy{
    0%, 25%, 28.33%, 45%, 48.33%, 51.67%, 93.33%, 96.67%{transform: scaleY(1);}
    26.67%, 46.67%, 50%, 95% {transform: scaleY(0.1);}
}

@keyframes flame-flicker-1{
    25% {transform: scale3d(1,1.1,1);}
    40% {transform: scale3d(1,0.8,1);}
    50% {transform: scale3d(1,1.05,1);}
    65% {transform: scale3d(1,0.75,1);}
    75% {transform: scale3d(1,1,1);}
    90% {transform: scale3d(1,1.15,1);}
    100% {transform: scale3d(1,1,1);}
}

@keyframes flame-flicker-2{
    15% {transform: scale3d(0.9,0.8,1);}
    33% {transform: scale3d(1.2, 0.5,1);}
    47% {transform: scale3d(0.7, 0.7,1);}
    63% {transform: scale3d(0.72, 1.1,1);}
    70% {transform: scale3d(0.65, 1,1);}
    77% {transform: scale3d(1, 0.8,1);}
    85% {transform: scale3d(0.7, 0.95,1)}
    100% {transform: scale3d(1,1,1);}
}

@keyframes flame-ember{
    0% {transform: translate(0, 0) rotate(0deg);}
    25% {transform: translate(10px, -25px) rotate(-45deg);}
    50% {transform: translate(0, -50px) rotate(0);}
    75% {transform: translate(-10px, -75px) rotate(45deg);}
    100% {transform: translate(0, -100px) rotate(0);}
}

@keyframes flame-ember-alt{
    0% {transform: translate(0, 0) rotate(0deg);}
    25% {transform: translate(-15px, -25px) rotate(45deg);}
    50% {transform: translate(0, -50px) rotate(0);}
    75% {transform: translate(10px, -75px) rotate(-45deg);}
    100% {transform: translate(0, -100px) rotate(0);}
}

@keyframes flame-ember-opacity{
    45% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes scale-pulse {
    0% {transform: scale(0.8,0.8);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(0.8,0.8);}
}

@keyframes opacity-pulse{
    0% {opacity: 0.2;}
    50% {opacity: 0.5;}
    100% {opacity: 0.2;}
}

.flame-front{
    transform-origin: center bottom;
    animation: flame-flicker-1 1s ease-in-out infinite;
}

.flame-inner{
    transform-origin: center bottom;
    animation: flame-flicker-2 .8s ease-in-out infinite;
}

#flame-inner-right{animation-duration: 1s; animation-delay: -1s;}

#flame-back{animation-direction: reverse; animation-delay: 0.5s; animation-duration: 1.6s;}

#flame-front-right{animation-duration: 1.3s; animation-delay: 0.2s}

.emitted-ember{
    transform-origin: center center;
    -moz-transform-origin: 485.125px 51.33px;
    animation: flame-ember 2s linear infinite, flame-ember-opacity 2s ease-out infinite;
}

.emitted-ember-alt{
    animation: flame-ember-alt 1.7s linear infinite, flame-ember-opacity 1.7s ease-out infinite;
}

.smoke{transform-origin: center center; animation: scale-pulse .7s ease-in-out infinite;}

#smoke-float-1 {animation-delay: 0.4s;}
#smoke-float-2 {animation-delay: 0.2s;}
#smoke-float-3 {animation-delay: 0s;}
#smoke-float-4 {animation-delay: -0.2s;}
#smoke-float-5 {animation-delay: -0.4s;}

.glow{
    transform-origin: center center;
    -moz-transform-origin: 378.729px 109.75px;
    animation: opacity-pulse 4s ease-in-out infinite 0.1s, scale-pulse 4s ease-in-out alternate infinite;
}

#glow-outer-1{animation-delay: -0.1s;}
#glow-inner {animation-delay: -0.3s;}

#eyes-left, #eyes-right{
    animation: blink-fancy 6s linear infinite;
}

.bill-highlight{animation: opacity-pulse 4s ease-in-out infinite;}
