.imgLogo {
  width: 75px;
}

.imgPerfil {
  width: 50px;
}

.hover-1 img {
  position: relative;
  left: -5%;
  transition: all 0.3s;
}

.hover-1:hover img {
  left: 0;
}

.imgCarta {
  width: 25rem;
  height: 16.625rem;
}

.imgPlato {
  width: 37.5rem;
  height: auto;
}

.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}

input[type=radio] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover ~ label {
  color: orange;
}

input[type=radio]:checked ~ label {
  color: orange;
}

nav {
  font-family: "Be Vietnam", sans-serif;
}

.text-navbar li a {
  font-size: 1rem;
  color: #FFFFFF !important;
}

.text-navbar li a:hover {
  text-decoration: none;
  color: #AB2417 !important;
}

.text-navbar a:hover {
  text-decoration: none;
  color: #AB2417 !important;
}

.text-navbar button:hover {
  text-decoration: none;
  color: #AB2417 !important;
}

.text-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5rem !important;
  color: #AB2417 !important;
}

.text-footer {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3.2rem;
  color: #FFFFFF !important;
}

.text-footer-cuerpo {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #FFFFFF !important;
}

.text-secondary {
  font-family: "Lato", sans-serif !important;
  font-size: 1.25rem !important;
  color: black !important;
}

.text-RS {
  color: #AB2417 !important;
}

.text-about {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: #2E1E1F;
  font-weight: bold;
}

.btn-primary {
  background-color: #2E1E1F !important;
  border-color: #2E1E1F !important;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #AB2417 !important;
}

.bg-primary {
  background-color: #2E1E1F !important;
}

.btn-secundary {
  background-color: #AB2417 !important;
  border-color: #2E1E1F !important;
  color: #FFFFFF !important;
}

.btn-secundary:focus, .btn-secundary:hover {
  background-color: #2E1E1F !important;
  border-color: #AB2417 !important;
  color: #FFFFFF !important;
}

.btnAnular {
  color: #AB2417 !important;
}

.btnAnular:hover {
  color: #212529 !important;
}

.estiloEnlaces {
  color: #AB2417 !important;
}

.estiloEnlaces:hover {
  text-decoration: none;
  color: #212529 !important;
}

.enlacesSinEstilo {
  text-decoration: none;
}

.enlacesSinEstilo:hover {
  text-decoration: none;
}

.redesSociales {
  font-size: 3rem;
  font-weight: bold;
  color: #AB2417 !important;
}

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

.error-container > span {
  display: inline-block;
  position: relative;
}

.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%), linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%), linear-gradient(to right, #d89ca4, #e27b7e);
}

.error-container > span.four:before,
.error-container > span.four:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
}

.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background: linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%), linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%), linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%), linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}

.error-container > span.zero:before {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%), linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container > span.zero:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}
/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 30px 15px;
}

.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

.link-container {
  text-align: center;
}

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #de7e85;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

/* social media buttons */
.icon-button {
  background-color: #2E1E1F !important;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}

.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}

.twitter span {
  background-color: #4099ff;
}

.facebook span {
  background-color: #3B5998;
}

.instagram span {
  background-color: #517fa4;
}

.icon-button .icon-twitter {
  color: #4099ff;
}

.icon-button .icon-facebook {
  color: #3B5998;
}

.icon-button .icon-instagram {
  color: #517fa4;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram {
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
}

/*# sourceMappingURL=index.css.map */
